<div>



  <div class="container text-center  pt-2 mt-2">
    <div class="row justify-content-md-center pt-2 mt-2">
      <div class="col-6">
        <img src="http://www.tese.edu.mx/imagenes2004/14072_YHXFIDH.gif" class="img-responsive" alt="...">
      </div>
      <div class="row justify-content-md-center pt-2 mt-2">
        <div class="col">
          <button (click)="aspirantes()" type="button" class="btn btn-primary">Aspirantes</button>
          <button (click)="alumnos()" type="button" class="btn btn-secondary">Alumnos</button>
          <button (click)="exalumnos()" type="button" class="btn btn-success">Exalumnos</button>
          <button (click)="docentes()" type="button" class="btn btn-danger">Docentes</button>
          <button (click)="padresfamilia()" type="button" class="btn btn-warning">Padres de Familia</button>
          <button (click)="empresas()" type="button" class="btn btn-info">empresas e Instituciones</button>

        </div>

      </div>

    </div>