<div class="container text-center pt-3 mt-3">
  <div class="row justify-content-md-center 
    ">
    <div class="col-1">
      <img src="http://www.tese.edu.mx/tese2010/Inicio_archivos/logo_edomex_3.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-1">
      <img src="http://www.tese.edu.mx/tese2010/Inicio_archivos/curp5.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-1">
      <img src="http://www.tese.edu.mx/tese2010/img/jpg/logo_sep.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-1">
      <img src="http://www.tese.edu.mx/tese2010/Inicio_archivos/dgest5.jpg" alt="..." class="img-thumbnail">
    </div>
  </div>

      Av. Tecnológico S/N C.P. 55210 Col. Valle de Anáhuac, Ecatepec de Morelos, Estado de México<br>

      Teléfono: 01 (55) 50 00 23 00<br>

      E-mail: webmaster_tese@tese.edu.mx<br>
      <div style="border-top:1px solid rgb(224, 7, 7);"></div>
      Para un óptimo funcionamiento se recomienda una resolución de 1024 x 768, Internet Explorer 5.5 y Flash
        Player 6 ó superiores.
  
</div>