<div>

  <div class="container left pt-2 mt-2">
    <div class="row">
      <div class="col-1 ">
        <img (click)="home()" src="http://www.tese.edu.mx/tese2010/img/jpg/logo2.JPG" class="img-thumbnail" alt="...">
      </div>
      <div class="col">
        TECNOLOGICO DE ESTUDIOS<br>
        SUPERIORES DE ECATEPEC
      </div>

    </div>
    <div class="row">
      <div class="col">

        <H6>
          Bienvenido, Ecatepec de Morelos, Estado de México Lunes 26 de septiembre de 2022
        </H6>
      </div>


    </div>
  </div>




</div>