

<ion-content>
  <ion-header>
    <ion-toolbar>
      <app-cabecera></app-cabecera>
  
    </ion-toolbar>
  </ion-header>

  <app-paginascambio></app-paginascambio>



  <div class="container text-left left pt-3 mt-3">
    <div class="row">
      <div class="col">
        <app-menuiz></app-menuiz>
      </div>
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
            </div>
            <div class="col">
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
              <app-menuce></app-menuce>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <app-menude></app-menude> 
      </div>
    </div>
  </div>

  <ion-footer>

    <app-pie></app-pie>
  
  
  
  </ion-footer>

</ion-content>
