<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="http://tese.edu.mx/tese2010/img_alea/118.jpg" alt="..." class="img-thumbnail">
    </div>

    <div class="row">
      <div class="col">
        <a href="#">Informes de Rendición de Cuentas</a><br>
        <a href="#">Unidad de Relaciones Públicas y Difusión</a><br>
        <a href="#">Revalidación, Equivalencias y Reconocimiento de otros estudios</a><br>
        <a href="#">Igualdad Laboral y no Discriminación</a><br>
        <a href="#">Atención Psicológica y/o Social</a><br>
        <a href="#">Prevención del Embarazo en Adolescentes</a><br>
        <a (click)="cal()" class="text-primary">Calendario Escolar</a><br>

      </div>
    </div>
  </div>
</div>

