
     <div class="container">
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="http://www.tese.edu.mx/imagenes2004/13665_URKWRXL.png" alt="..." class="img-thumbnail">
              </div>
              <div class="col">
                Lineamientos de pago y cuotas 2022-2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>     





